{{define "footer"}}
<footer>
  <hr>
  <p class="text-center">©
  <script>
    var d = new Date();
    document.write(d.getFullYear());
  </script>
  VMware, Inc | <a href="https://tanzu.vmware.com" target="_blank">VMware Tanzu</a></p>
</footer>
{{end}}
